<div class="card card-body">
    <h3>Edit a charter</h3>
    <form action="/yachts/{{yacht.id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="yachtname">Yacht name</label>
            <input type="text" class="form-control" name="yachtname" value={{yacht.name}} />
        </div>
        <div class="form-group">
            <label for="destination">Destination</label>
            <select class="form-control" name="destination" value={{yacht.destination}}>
                <option>Athens</option>
                <option>Mykonos</option>
                <option>Lefkada</option>
            </select>
        </div>
        <div class="form-group">
            <label for="date">Departure - Arrival date</label>
            <input type="text" class="form-control" name="date" value={{yacht.date}} />
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name="status" value={{yacht.status}} >
                <option>BOOKED</option>
                <option>PENDING</option>
                <option>OPTION</option>
            </select>
        </div>
        <div class="form-group">
            <label for="client">Client name</label>
            <input type="text" class="form-control" name="client" value={{yacht.client}} required />
        </div>
        <div class="form-group">
            <label for="user">User id</label>
            <input type="text" class="form-control" name="user" value={{yacht.user}} />
        </div>
         <div class="form-group">
            <label for="username">User name</label>
            <input type="text" class="form-control" name="username" value={{yacht.username}} />
        </div>
         <div class="form-group">
            <label for="datecreated">Date created</label>
            <input type="text" class="form-control" name="datecreated" value={{yacht.datecreated}} required />
        </div>
       

        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>